h1{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: italic;
	color: #666;
}

body {
	background-color: #202020;
	color: #fff;
	font-family: sans-serif;
	text-align: center;
	
  }
  
  div.calculator {
	border: gray;
	border-radius: 5px;
	border-style:groove;
	margin: 50px auto;
	max-width: 300px;
	align-items: center;
}
  .container{
	border:gray;
	border-radius: 5px;
	border-style:groove;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .display {
	background-color: #333;
	margin-bottom: 2px;
	border-radius: 10px;
	border: #666;
	border-style: groove;
	padding: 10px;
	
  }
  
  input {
	background-color: transparent;
	border: #444;
	color: #fff;
	font-size: 24px;
  }
  
  button {
	background-color: #444;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 25px;
	margin: 5px;
	padding: 10px;
	width: auto;
  }
  
  button:hover {
	background-color: #666;
  }
  .equal{
	grid-row-start:5;
	grid-column-start: 2;
	grid-column-end: 5;
}